@charset "utf-8";

@font-face {
    font-family: 'Floane', 'MalgunGothic';
    src: url('../font/Floane-Bold.woff') format('woff'),
        url('../font/MalgunGothic-_1_.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
    font-family: "MalgunGothic";
    font-size: 16px;
    line-height: 24px;
    color: #433a34;
    min-width: 1350px;
}

/*header*/
.nav ul li a{display:block;
	text-align:center;
    padding: 48px 79px;}


.header_inner{
    width: 1320px;
    margin: 0 auto;
    height: 120px;
}
.logo{
    float: left;
    padding-top: 37.5px;
}
.nav ul li{
    float: left;
    font-size: 20px;
    color: white;
    
}

/*호버시 효과*/
.nav ul li:hover{
    color: #9c8d83;
    transition: all 0.5s;
}

.logo1{
    position: relative;
    width: 206px;
    height: 45px;
}
.logo2{
    position: absolute;
    top: 37.5px;
    left: 292px;
    opacity: 0;
    transition: all 0.5s;
}
.logo:hover .logo2{
    opacity: 1;
}
.login_icon{
    position: relative;
    width: 25px;
    height: 25px;
}
.login_icon2{
    position: absolute;
    top: 47.5px;
    right: 339px;
    opacity: 0;
    transition: all 0.5s;
}
.nav_icon1:hover .login_icon2{
    opacity: 1;
}
.cart_icon{
    position: relative;
    width: 25px;
    height: 25px;
}
.cart_icon2{
    position: absolute;
    top: 47.5px;
    right: 291px;
    opacity: 0;
    transition: all 0.5s;
}
.nav_icon2:hover .cart_icon2{
    opacity: 1;
}

/*효과주기*/
#header{position:fixed;
    z-index: 9999;
	top:0;
	left:0;
	width:100%;
	height:120px;}	

    /**/

.nav ul{
    float: left;
}
.menu ul li{
    float: left;
    color: white;
}
.menu ul li:nth-child(2){
    padding-left: 23px;
}
.menu ul{
    float: right;
    padding-top: 47.5px;
}
#main_banner{
    width: 100%;
    height: 636px;
    background: url(../images/sub2_main.png)no-repeat center top;
    text-align: center;
}

#main_banner h1{
    padding: 292px;
    font-size: 54.17px;
    letter-spacing: 13px;
    color: #edeae4;
    font-weight: normal;
}

.on{
    background-color: #fff;
}

.on .nav ul li  a{
    color:#514940;
}
.on .nav ul li  a:hover{
    color:#9c8d83;
    transition: all 0.5s;
}

/*상품*/
#contents{
    width: 100%;
    background: url(../images/sub2_paper_bg.png) no-repeat center top;
    height: 2191px;
}
.contents_in{
    margin: 0 auto;
    width: 1320px;
}
#contents ul li{
    float: left;
}
.category ul li{
    font-size: 21px;
    color: #d8d1ca;
    padding-right: 37px;
    padding-top: 222px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}
.shop1{
    clear: both;
}
.contents_in ul li{
    margin-right: 10.5px;
}
.contents_in ul li:nth-child(3){
    margin-right: 0 !important;
}
.contents_in h3{
    font-size: 20.07px;
    color: #846854;
    font-family: "Floane";
    letter-spacing: 2px;
    padding-top: 19px;
    line-height: 26px;
    padding-bottom: 100px;
}

#move{
    margin: 0 auto;
    width: 1320px;
}
.move_inner .page{
    font-size: 16px;
    padding-right: 30px;
    color: #dad4cd;
}
.move_inner .page3{
    padding-right: 20px !important;
}
.btn1, .btn2{
    color: #a89a90;
    font-weight: bold;
    font-size: 14px;
}
.move_inner .btn1{
    padding-left: 567px;
    padding-right: 20px;
}

/*footer*/
#footer{
    height: 182px;
    background-color: #7a7468;
}
.footer_inner{
    margin: 0 auto;
    width: 1320px;
    text-align: center;
}
#footer p{
    font-size: 11px;
    color: #d4d2cf;
    padding-top: 43px;
    padding-bottom: 22px;
}


/*hover부분 설정*/
.scale{
    display: block;
    width: 433px;
    height: 422px;
    overflow: hidden;

}
.scale:hover img{
    transform: scale(1.1,1.1);
}
.shop1 img, .shop2 img, .shop3 img{
    transition: all 1s;
}


/*카테고리 클릭시*/
.click a, .click2 .page{
    color:#9b8a7e;
    font-weight:bold;
}


/*top버튼*/
.fixed_box{
    width:51px;
    position:fixed;
    right:50px;
    bottom:20px;
}